
@{
    ViewBag.Title = "IndexWithUser";
}

<h2>Account Config Page</h2>
<p>This prototype will send all updates via email to your email box: </p>
<p>@ViewBag.User</p>
<button id="optoutbutton">Opt out all accounts</button>
<hr />
<h3>Facebook Accounts</h3>
<table>
    @for (var i = 0; i < ViewBag.Data.accountlist.Count; i++)
    {
        <tr>
            <td> <p style="width:300px"> @ViewBag.Data.accountlist[i].username </p> </td>
            <td><button class="deletesubaccount" tp="@ViewBag.Data.accountlist[i].id"  style="margin-left:20px;margin-bottom:10px"> Delete This Account</button> </td>
        </tr>
    }
</table>

<button id="addnewfb">Add New Account</button>
<script type="text/javascript">
    $("#optoutbutton").click(function () {
        $.ajax({
            url: "/api/token/removeall?useremail=" + '@ViewBag.User',
            success: function () {
                alert('Success');
                location.reload();
            },
            fail: function () {
                alert('Fail to opt out');
            }
        });
    });

    $("#addnewfb").click(function () {
        window.location.replace('https://www.facebook.com/dialog/oauth?client_id=619387381484849&scope=user_posts&redirect_uri=http://webapplication16742.azurewebsites.net/auth/fb/' + window.btoa('@ViewBag.User'));
    });

    $(".deletesubaccount").click(function () {
        var id = $(this).attr('tp');
        $.ajax({
            url: "/api/token/removewithid?id=" + id,
            success: function () {
                alert('Success');
                location.reload();
            },
            fail: function () {
                alert('Fail to delete single account');
            }
        });
    });
</script>